:root {
  --black: #535353;
  --yellow: #f8c242;
}

.footerContainer {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  background-color: var(--yellow);
}

.footerContainer a {
  cursor: pointer;
  color: var(--black);
  transition: color 0.3s ease-in;
  display: inline-flex;
}

.footerContainer a:hover {
  color: #e7cf97;
}
