:root {
  --black: #535353;
  --yellow: #f8c242;
}

.headerContainer {
  height: 9vh;
  width: 100%;
  background-color: var(--black);
  display: flex;
  padding: 0 2em;
  box-sizing: border-box;
  box-shadow: 0px 1px 5px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  align-items: center;
}

#imgLogo {
  height: 10dvh;
}

.headerList {
  display: flex;
  gap: 1em;
  list-style: none;
  color: var(--yellow);
  font-weight: bold;
}

.headerList li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.headerList li:hover {
  color: #fad787;
}

.headerList li button {
  font-weight: bold;
}
